build*/
cmake-build*/

*.exe
*.dll
*.so
*.a
*.o

artifacts/**/*.pem
artifacts/**/*.der
artifacts/**/*.bin
artifacts/**/*.ct
artifacts/**/*.json
artifacts/**/*.csv
artifacts/**/*.log

!artifacts/**/benchmark/
!artifacts/**/screenshots/

.DS_Store
.vscode/
.idea/
